// personal-start color-variables
$gray-00:    #F8F9FA !default;
$gray-01:    #F7F7F7 !default;
$gray-02:    #E8E8DB !default;
$gray-03:    #999999 !default;
$gray-04:    #858377 !default;
$gray-05:    #636057 !default;
$gray-06:    #494846 !default; //TEXT
$gray-07:    #373A3C !default;
// personal-end color-variables